h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

.registerElement {
		margin-bottom:15px !important;
}

#errorMessage {
		margin-top:15px !important;
		padding:15px !important;
		border-radius:5px !important;
}
